/* 62.5% 1rem=10px */
html {
font-size: 62.5%;
font-family: 'Lato', sans-serif;
}

:root {
    --primary-color: rgb(243,243,243);
    --secondary-color: rgb(235,234,235);
    --main-background-color: rgb(191,177,196);
    --font-color-primary: rgb(255,255,255);
    --font-color-secondary: rgb(0,0,0);
    --primary-font-size: 1.6rem;
}



.section_anchor {
    background-color: rgb(255,255,255);
    color: rgb(194,181,199);
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.section--second,
.section--third {
    background-color: rgb(191,177,196);
}

.section--logos {
    background-color: rgb(235,234,235);
}

.section--fifth {
    background-color: var(--font-color-primary);
}

/* Mobile */
@media only screen and (max-width: 768px) {

    section {
        width: 100vw;
    }

    .image--background {
        background-image: url("first.jpg");
        background-size: ;
        background-size: 41rem 53rem;
        width: 100vw;
        height: 90vw;
    }

    /* .section--second {
        display: flex;
        flex-direction: column;
        text-align: center;
    } */

    [src="images/second.jpg"],
    [src="images/third.jpg"] {
        width: 80vw;
        height: 80vw;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .second--image,
    .third--image {
        text-align: center; 
    }

    .section--second {
        display: column;
        justify-content: center;
    }   

    .footer_icons img {
        width: 2rem;
        height: 2rem;
    }

    .section--logos img {
        width: 15rem;
        height: 9rem;
    }

    .section--sixth {
        background-image: url("fourth.jpg");
    }

    h2 {
        font-size: 3.8rem;
        width: 80vw;
        margin: auto
    }

    h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    p {
        font-size: var(--primary-font-size);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 80vw;
        margin: auto;
    }

    a {
        font-size: var(--primary-font-size);
        padding-left: 1.5rem;
    }

    .section--fifth h2,
    .section--sixth h2 {
        text-align: center;
        width: 70vw;
        margin: auto;
    }
    
    .section--first a {
        text-decoration: underline; 
    }
}


/* Desktop and tablet */
@media only screen and (min-width: 769px) {
    
}