/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    }

* {box-sizing: border-box}

.footer_icons img {
    width: var(--space--l);
    height: var(--space--l);
}

.footer-informations p {
    color: black;
}


/* Mobile */
@media only screen and (max-width: 768px) {
    footer {    
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        width: 100vw;
    }

    .footer-information p {
        font-size: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .footer-information,
    .footer__column {
        display: flex;
        flex-direction: column;
    }

    .footer-information h4 {
        font-size: 3.2rem;
        margin: 0;
        padding-bottom: 2.5rem;
    }

    .footer-information a {
        font-size: 1.5rem;
        font-weight: lighter;
        text-decoration: underline;
    }

    .footer-information a:nth-of-type(1) {
        padding-bottom: 2.5rem;
    }

    .footer-information a:nth-of-type(2),
    .footer-information a:nth-of-type(3),
    .footer-information a:nth-of-type(4) {
        padding-bottom: 1.5rem;
    }

    .footer_icons a {
        padding-right: 0.5rem;
    }
}

/* Desktop and tablet */
@media only screen and (min-width: 769px) {
    footer{
        padding-top: 10vh;
        padding-left: 13vw;
        padding-right: 12vw;
        padding-bottom: 10vh;
    }

    .footer-information {
        display: flex;
        flex-direction: row;
    }
}    